In [154]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from astropy.io import ascii, fits

In [155]:

file_path = 'Radio Fluxes.dat'
data = pd.read_csv(file_path)

df = pd.read_csv(file_path, sep='\s+')
df

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/var/folders/cm/sgxy_whs1xg9fh8p7vmvnhjm0000gn/T/ipykernel_18237/1538407393.py:4: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv(file_path, sep='\s+')

     mJy   G   R
0  -15.0   0   0
1  -14.0   0   0
2  -13.0   1   0
3  -12.0   2   0
4  -11.0   5   0
5  -10.0   7   3
6   -9.0   2   6
7   -8.0  11   2
8   -7.0  11   6
9   -6.0   7  11
10  -5.0  13  12
11  -4.0  11  18
12  -3.0  25  19
13  -2.0  39  23
14  -1.0  31  20
15   0.0  32  25
16   1.0  37  27
17   2.0  22  27
18   3.0  31  23
19   4.0  23  22
20   5.0  21  11
21   6.0  11  16
22   7.0   6  10
23   8.0  16   0
24   9.0   4   0
25  10.0   6   5
26  11.0   4   0
27  12.0   2   4
28  13.0   6   0
29  14.0   0   0
30  15.0   0   0

In [161]:
sum_G = df['G'].sum()
cumsum_G = df['G'].cumsum()

print(sum_G)
print(cumsum_G)

386
0       0
1       0
2       1
3       3
4       8
5      15
6      17
7      28
8      39
9      46
10     59
11     70
12     95
13    134
14    165
15    197
16    234
17    256
18    287
19    310
20    331
21    342
22    348
23    364
24    368
25    374
26    378
27    380
28    386
29    386
30    386
Name: G, dtype: int64

In [169]:
Sm = cumsum_G / 386

print(Sm)

0     0.000000
1     0.000000
2     0.002591
3     0.007772
4     0.020725
5     0.038860
6     0.044041
7     0.072539
8     0.101036
9     0.119171
10    0.152850
11    0.181347
12    0.246114
13    0.347150
14    0.427461
15    0.510363
16    0.606218
17    0.663212
18    0.743523
19    0.803109
20    0.857513
21    0.886010
22    0.901554
23    0.943005
24    0.953368
25    0.968912
26    0.979275
27    0.984456
28    1.000000
29    1.000000
30    1.000000
Name: G, dtype: float64

In [170]:
sum_R = df['R'].sum()
cumsum_R = df['R'].cumsum()

print(sum_R)
print(cumsum_R)

290
0       0
1       0
2       0
3       0
4       0
5       3
6       9
7      11
8      17
9      28
10     40
11     58
12     77
13    100
14    120
15    145
16    172
17    199
18    222
19    244
20    255
21    271
22    281
23    281
24    281
25    286
26    286
27    290
28    290
29    290
30    290
Name: R, dtype: int64

In [171]:
Sn = cumsum_R / 290

print(Sn)

0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.010345
6     0.031034
7     0.037931
8     0.058621
9     0.096552
10    0.137931
11    0.200000
12    0.265517
13    0.344828
14    0.413793
15    0.500000
16    0.593103
17    0.686207
18    0.765517
19    0.841379
20    0.879310
21    0.934483
22    0.968966
23    0.968966
24    0.968966
25    0.986207
26    0.986207
27    1.000000
28    1.000000
29    1.000000
30    1.000000
Name: R, dtype: float64

In [174]:
D = Sn - Sm
print(D)

D_max = np.max(D)
print(D_max)

0     0.000000
1     0.000000
2    -0.002591
3    -0.007772
4    -0.020725
5    -0.028515
6    -0.013007
7    -0.034608
8    -0.042416
9    -0.022619
10   -0.014919
11    0.018653
12    0.019403
13   -0.002323
14   -0.013668
15   -0.010363
16   -0.013114
17    0.022994
18    0.021994
19    0.038271
20    0.021797
21    0.048472
22    0.067411
23    0.025960
24    0.015598
25    0.017295
26    0.006932
27    0.015544
28    0.000000
29    0.000000
30    0.000000
dtype: float64
0.06741111309630166